

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

//nav//

nav{
    width: 100%;
    background-color: #134341;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-bottom: 1px solid lightgray;

    .container{
        width: 93%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo{
            width: 30%;

            img{
                width: 50%;
            }
        }

        .links{
            width: 27%;

            ul{
                display: flex;
                align-items: center;
                justify-content: space-between;
                list-style: none;

                li{
                    padding: 10px;
                    border-radius: 10px;
                    transition: 0.15s;
                    
                    a{
                        font-size: 14px;
                        font-weight: 500;
                        color: white;
                        text-decoration: none;
                    }
                }

                li:hover{
                    background-color: rgba(255, 255, 255, 0.387);
             
                }
            }
        }

        .start-btn{
            width: 30%;
            text-align: end;

            a{
                padding: 14px 28px;
                background-color: white;
                border-radius: 10px;
                font-size: 16px;
                font-weight: 600;
                color: #0c231f;
                text-decoration: none;
                transition: 0.15s;
            }

            a:hover{
                background-color: #e1ffa0;
            }
        }

        .menu-btn-mob{
            display: none;
            background-color: transparent;
            border: none;
            color: white;
            
            i{
                font-size: 25px;
            }
        }
    }
}

//header//

header{
    width: 100%;
    background-color: #134341;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0 40px 0;

    .container{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .top{
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            text-align: center;

            h5{
                font-size: 16px;
                color: #e1ffa0;
                line-height: 25.6px;
                letter-spacing: -0.24px;
            }

            h1{
                font-size: 72px;
                color: white;
                letter-spacing: -1.944px;
                line-height: 86.4px;
                width: 600px;
            }

            p{
                color: #ffffff8f;
                font-size: 18px;
                font-weight: 500;
                line-height: 28.8px;
                width: 514px;
                margin-bottom: 40px;
            }

            .field{
                width: 80%;
                border: 3px solid #0c231f99;
                background-color: white;
                border-radius: 10px;
                margin-bottom: 60px;
                 
                input{
                    width: 73%;
                    padding: 10px;
                    border: none;
                    outline: none;
                }

                input::placeholder{
                    font-size: 16px;
                    letter-spacing: 0.5px;
                }

                button{
                   width: 26%;
                   padding: 18px 30px;
                   background-color: #134341;
                   color: white;
                   font-size: 16px;
                   font-weight: 600;
                   border: none;
                   border-top-right-radius: 7px;
                   border-bottom-right-radius: 7px;
                   cursor: pointer;
                }
            }
        }

        .bottom{
            width: 100%;
            text-align: center;
            img{
                width: 90%;
            }
        }
    }
}

//info-section//

.info-section{
    background-image: linear-gradient(180deg, #0c231f 0%, #134341 100%);
    padding: 120px 0;
    border-radius: 40px 40px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -45px;

    .titles{
        text-align: center;
        width: 40%;
        margin-bottom: 80px;

        h5{
            color: #e1ffa0;
            font-size: 16px;
            letter-spacing: -0.24px;
            margin-bottom: 20px;
        }

        h2{
            font-size: 48px;
            color: white;
            letter-spacing: -1.2;
            line-height: 56px;
            margin-bottom: 15px;
        }

        p{
            font-size: 16px;
            color: #ffffff8f;
            letter-spacing: 0.5px;
        }
    }

    .widgets{
        width: 85%;
        ul{
            display: flex;

            li{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                padding: 20px;
                border-radius: 15px;

                .widget-icon{
                    margin-bottom: 20px;
                    padding: 15px 18px;
                    background-color: #e1ffa036;
                    border-radius: 50%;
                    box-shadow: 0 0 10px 10px #e1ffa085;
                    
                    i{
                        font-size: 24px;
                        color: #e1ffa0;
                    }
                }

              

                span{
                    font-size: 18px;
                    color: white;
                    letter-spacing: 0.5px;
                    margin-bottom: 10px;
                
                }

                p{
                    font-size: 16px;
                    color: #ffffff8f;
                    line-height: 1.5;
                }

            }

            li:hover{
                background-color: rgba(255, 255, 255, 0.156);
            }
        }

       
    }
}

//section-1//
.section-1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0 140px 0;

    .section-header{
        width: 85%;

        h2{
            font-size: 48px;
            color: #0c231f;
            margin-bottom: 20px;
        }

        p{
            font-size: 16px;
            color: #0c231f99;
            width: 44%;
            line-height: 24px;
        }
    }

    .bottom{
        width: 85%;
        display: flex;
        align-items: center;

        ul{
            width: 50%;

            li{
                width: 80%;
                padding: 30px 20px;

                i{
                    font-size: 18px;
                    color: rgb(19, 67, 65);
                }

                span{
                    font-size: 18px;
                    color: #134341;
                    font-weight: 500;
                }

                p{
                    font-size: 14px;
                    color: #0c231f99;
                    margin-top: 4px;
                    line-height: 21px;
                }
            }

            li:hover{
                background-color: #e1ffa09e;
            }
        }

        .section-img{
            width: 50%;
            padding: 80px;
            background-color: #f1f3f3;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
            border-radius: 10px;

            img{
                width: 100%;
                border-radius: 10px;
            }
        }
    }
}

//section-2//
.section-2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
 

    .container{
        width: 85%;
        display: flex;
        align-items: center;

        .section-img{
            width: 50%;
            background-color: #f1f3f3;
            padding: 70px 0 0 0;
            border-radius: 10px;
            text-align: center;
            box-shadow: 0 5px 5px lightgray;


            img{
                width: 70%;
                border-radius: 10px;
            }
        }

        .section-titles{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: end;
            justify-content: center;
            gap: 20px;

            h2{
                font-size: 48px;
                width: 70%;
                line-height: 57px;
                letter-spacing: -1.2px;
            }

            p{
                font-size: 16px;
                color: #0c231f99;
                line-height: 25px;
                width: 70%;
            }
        }
    }
}

//section-3//
.section-3{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 140px 0 180px;
 

    .container{
        width: 85%;
        display: flex;
        align-items: center;

        .section-img{
            width: 50%;
            background-color: #f1f3f3;
            padding: 70px 0 0 0;
            border-radius: 10px;
            text-align: center;
            box-shadow: 0 5px 5px lightgray;


            img{
                width: 70%;
                border-radius: 10px;
            }
        }

        .section-titles{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            gap: 20px;

            h2{
                font-size: 48px;
                width: 80%;
                line-height: 57px;
                letter-spacing: -1.2px;
            }

            p{
                font-size: 16px;
                color: #0c231f99;
                line-height: 25px;
                width: 75%;
            }
        }
    }
}

//section-4//

.section-4{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -250px;

    .container{
        width: 85%;
        background-color: #134341;
        display: flex;
        align-items: center;
        gap: 30px;
        padding: 70px 75px;
        border-radius: 20px;

        .profile-image{
            width: 100%;

            img{
                width: 100%;
                border-radius: 20px;
            }
        }

        .profile-info{
            display: flex;
            flex-direction: column;
            gap: 20px;

            img{
                width: 20%;
            }

            h3{
                font-size: 24px;
                color: white;
            }

            h5{
                font-size: 16px;
                color: #e1ffa0;
            }
        }


    }
}

//section-5//
.section-5{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 400px 0 150px;
    background-color: #f1f3f3;

    .container{
        width: 85%;
        display: flex;

        .left{
            width: 50%;
            display: flex;
            flex-direction: column;

            i{
                font-size: 24px;
                color: rgb(39, 119, 104);
                background-color: rgba(39, 119, 104, 0.237);
                margin-bottom: 20px;
                width: fit-content;
                padding: 10px;
                border-radius: 50%;
               
            }

            span{
                font-size: 48px;
                color: #0c231f;
                font-weight: 700;
            }

            p{
                font-size: 16px;
                color: #0c231f99;
                line-height: 26px;
                margin: 20px 0;
                width: 85%;
            }

            a{
                padding: 10px 25px;
                color: #e1ffa0;
                background-color: #0c231f;
                width: fit-content;
                font-size: 16px;
                text-decoration: none;
                border-radius: 10px;
                transition: 0.15s;
            }

            a:hover{
                background-color: #e1ffa0;
                color: #0c231f;
            }
        }

        .right{
            width: 50%;

            ul{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto ;
                gap: 20px;

               li{

                img{
                    width: 30%;
                }

                p{
                    font-size: 16px;
                    color: #0c231f99;
                    line-height: 26px;
                    font-weight: 500;
                }
               }
            }
        }
    }
}

//footer//
footer{
    background-color: #134341;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 40px 40px 0 0;

    .line{
        width: 100%;
        height: 0.5px;
        background-color: lightgray;
    }

    .top{
        width: 85%;
        display: flex;
        justify-content: space-between;
        padding: 50px 0;

        .left{
            width: 50%;

            span{
                font-size: 36px;
                color: white;
                font-weight: 600;
            }

            p{
                font-size: 16px;
                color: #ffffff5c;
                line-height: 26px;
                margin-top: 15px;
            }
        }

        .right{
            width: 40%;
            display: flex;
            flex-direction: column;
            gap: 15px;

            a{
                color: white;
                font-size: 16px;

                i{
                    color: #e1ffa0;
                    margin-right: 15px;
                }
            }

            a:last-child{
                display: flex;
            }

            a:hover{
                color: #e1ffa0;
            }
        }
    }

    .middle{
        width: 85%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 50px 0;

        .links{
            display: flex;
            flex-direction: column;
            align-items: start;

            span{
                font-size: 14px;
                color: #ffffff5c;
                display: inline-block;
                margin-bottom: 30px;
            }

            ul{
                display: flex;
                flex-direction: column;
                gap: 15px;

                li{
                    a{
                        color: white;
                        font-size: 16px;
                        font-weight: 500;
                    }

                    a:hover{
                        color: #e1ffa0;
                    }
                }
            }
        }
    }

    .bottom{
        width: 85%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0 40px;

        img{
            width: 10%;
        }

        p{
            font-size: 16px;
            color: #ffffff5c;
            

            a{
                color: white;
            }

            a:hover{
                color: #e1ffa0;
            }
        }
    }
}

@media (min-width:200px) and (max-width:767px) {
    nav{
        .container{
            .links,.start-btn{
                display: none;
            }

            .menu-btn-mob{
                display: inline;
            }
        }
    }

    header{
        .container{
            width: 90%;
            .top{
                width: 100%;
                h5{
                    font-size: 14px;
                }
                h1{
                    font-size: 40px;
                    width: 100%;
                    line-height: normal;
                }
                p{
                    font-size: 16px;
                    width: 100%;
                }
                .field{
                    width: 100%;
                    padding: 5px;
                    background-color: rgba(255, 255, 255, 0.217);
                    border-radius: 15px;

                    input{
                        width: 100%;
                        padding: 20px;
                        margin-bottom: 10px;
                        border-radius: 10px;
                        
                    }

                    input::placeholder{
                      
                    }

                    button{
                        width: 100%;
                        border-radius: 10px;
                    }
                }
                
            }
        }
       
    }

    .info-section{
        .titles{
            width: 70%;
            h5{
                font-size: 14px;
            }
            h2{
                font-size: 26px;
                line-height: normal;
            }
            p{
                font-size: 14px;
            }
        }

        .widgets{
            ul{
                flex-direction: column;
                align-items: center;

                li{
                    // width: 85%;
                }
            }
        }
    }

    .section-1{
        .section-header{
            h2{
                font-size: 26px;
            }

            p{
                width: 100%;
                font-size: 14px;
            }
        }

        .bottom{
            flex-direction: column;

            ul{
                width: 100%;
                margin-bottom: 20px;

                li{
                    width: 100%;
                }
            }

            .section-img{
                width: 100%;
                padding: 40px;
            }
        }
    }

    .section-2{
        .container{
            flex-direction: column;
            
            .section-img{
                width: 100%;
                order: 2;
            }

            .section-titles{
                order: 1;
                width: 100%;
                align-items: flex-start;
                margin-bottom: 20px;

                h2{
                    font-size: 26px;
                    line-height: normal;
                    width: 100%;
                }

                p{
                    width: 100%;
                    font-size: 14px;
                }
            }
        }
    }

    .section-3{
        .container{
            flex-direction: column;
            
            .section-img{
                width: 100%;
            }

            .section-titles{
                width: 100%;
                align-items: flex-start;
                margin-bottom: 20px;

                h2{
                    font-size: 26px;
                    line-height: normal;
                    width: 100%;
                }

                p{
                    width: 100%;
                    font-size: 14px;
                }
            }
        }
    }

    .section-4{
        .container{
            flex-direction: column;

            .profile-info{
                h3{
                    font-size: 19px;
                }
                h5{
                    font-size: 14px;
                }
            }
        }
    }

    .section-5{
        .container{
            flex-direction: column;

            .left{
                width: 100%;
                margin-bottom: 20px;

                span{
                    font-size: 26px;
                }

                p{
                    font-size: 14px;
                }
            }

            .right{
                width: 100%;
            }
        }
    }

    footer{
        padding: 0;
        .top{
            flex-direction: column;

            .left{
                width: 100%;
                margin-bottom: 40px;

                .span{
                    font-size: 28px;
                }

                p{
                    font-size: 14px;
                }
            }

            .right{
                width: 100%;
                a{
                    font-size: 14px;
                }
            }
        }

        .middle{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            row-gap: 40px;

            .links{
                span{
                    font-size: 13px;
                }

                ul{
                    li{
                        a{
                            font-size: 14px;
                        }
                    }
                }
             
            }
        }

        .bottom{
            flex-direction: column;

            img{
                width: 20%;
                margin-bottom: 30px;
            }

            p{
                font-size: 14px;
            }
        }
    }
}

@media (min-width:768px) and (max-width:1024px) {
    nav{
        .container{
            .links,.start-btn{
                display: none;
            }

            .menu-btn-mob{
                display: inline;
            }
        }
    }

    .info-section{
        .titles{
            width: 70%;
            h5{
                font-size: 15px;
            }
            h2{
                font-size: 34px;
                line-height: normal;
            }
            p{
                font-size: 15px;
            }
        }

        .widgets{
            ul{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto;

                li{
                    // width: 85%;
                }
            }
        }
    }

    .section-1{
        .section-header{
            h2{
                font-size: 34px;
            }

            p{
                width: 100%;
                font-size: 15px;
            }
        }

        .bottom{

            ul{
                width: 80%;
                margin-bottom: 20px;

                li{
                    width: 100%;
                }
            }

            .section-img{
                width: 80%;
            }
        }
    }

    .section-2{
        .container{
            gap: 30px;
            
            .section-img{
                width: 70%;
            }

            .section-titles{

                width: 70%;
                margin-bottom: 20px;

                h2{
                    font-size: 34px;
                    line-height: normal;
                    width: 100%;
                }

                p{
                    width: 100%;
                    font-size: 15px;
                }
            }
        }
    }

    .section-3{
        .container{
            gap: 30px;
            
            .section-img{
                width: 70%;
            }

            .section-titles{

                width: 70%;
                margin-bottom: 20px;

                h2{
                    font-size: 34px;
                    line-height: normal;
                    width: 100%;
                }

                p{
                    width: 100%;
                    font-size: 15px;
                }
            }
        }
    }

    .section-4{
        .container{
            .profile-image{
                width: 40%;
            }
            
            .profile-info{
                width: 100%;
                h3{
                    font-size: 21px;
                }
                h5{
                    font-size: 15px;
                }
            }
        }
    }
   
    .section-5{
        .container{

            .left{

                span{
                    font-size: 34px;
                }

                p{
                    font-size: 15px;
                }
            }

            .right{
                ul{
                    li{
                        p{
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}
